h1 {
  font-style: oblique;
  color: #06D6A0;
  font-family: fantasy;
  font-size: 80px;
  text-align: center;
}

h2 {
  font-style: normal;
  color: #087CA7;
  font-family: monospace;
  font-size: 40px;
  text-align: center;
}

body {
  font-style: normal;
  color: black;
  font-family: inherit;
  font-size: 22px;
  text-align: center;
}
ul {
  list-style-type: none;
}
